<ion-header>
    <ion-navbar color="club">
        <ion-title text-center>CLUB PINTUÉ</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-content padding>
        <ion-item>
            <p>{{imageURI}}</p>
            <button ion-button color="secondary" (click)="getImage()">Get Image</button>
        </ion-item>
        <ion-item>
            <h4>Image Preview</h4>
            <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
        </ion-item>
        <ion-item>
            <button ion-button (click)="uploadFile()">Upload</button>
        </ion-item>
    </ion-content>

    <div>
        <input type="file" (change)="getPictures($event)" placeholder="upload a from web file" />

        <button ion-button (click)="testup(); mulupload.value=''">test Up</button>
    </div>


    <div *ngIf="login== 1">
        <form>
            <ion-row>
                <ion-col>
                    <ion-list inset>

                        <ion-item>
                            <ion-input type="text" placeholder="Usuario" name="usuario" [(ngModel)]="username"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="pass"></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button block class="submit-btn" type="button" (click)="logeo()">Login</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
    <div *ngIf="login== 2">
        <form>
            <ion-row>
                <ion-col>
                    <ion-list inset>

                        <ion-item>
                            <ion-input type="text" placeholder="Titulo" name="titulo" [(ngModel)]="titulo"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input type="text" placeholder="Mensaje" name="Mensaje" [(ngModel)]="mensaje"></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button block class="submit-btn" type="button" (click)="notificar()">Notificar</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>