page-notify {
    .toast-class {
        background-color: #31852f;
    }
    .toast-container {
        background-color: red;
        text-align: center;
    }
    .toast-message {
        background-color: red;
    }
}